@import '../../../../variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.party-logo {
  height: 2rem;
}

.close-button {
  width: 10rem;
}

.close {
  &:focus {
    outline: 0;
  }
}

.member-image {
  filter: grayscale(100%) brightness(1.2);
  min-width: 192px;
  max-height: 256px;
}

.member-details {
  a {
    word-break: break-word;
  }
  span {
    color: $primary;
    flex: 0 0 20%;
    min-width: 5rem;
  }
  div {
    &:nth-child(even) {
      background-color: $gray-200;
    }
  }
}
