<div class="modal-header d-flex align-items-center">
  <h4 class="modal-title">
    <img
      *ngIf="!noParty(member?.parti)"
      class="party-logo mr-2"
      [attr.src]="member?.parti | partyLogo"
    />
    <fa-icon
      *ngIf="noParty(member?.parti)"
      [icon]="['fas', 'user-circle']"
      class="no-party-logo"
    ></fa-icon>
    {{ member?.tilltalsnamn }} {{ member?.efternamn }}
  </h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-0 border-bottom-0 d-flex flex-row">
  <img
    class="member-image d-none d-sm-inline flex-shrink-0"
    [attr.src]="member?.bild_url_192.replace('http://', 'https://')"
  />
  <div class="member-details w-100 d-flex flex-column py-4 px-0">
    <div class="d-flex align-items-center px-4 py-2">
      <span class="font-weight-bold">Parti:</span>
      {{ member?.parti | partyName }}
    </div>
    <div class="d-flex align-items-center px-4 py-2">
      <span class="font-weight-bold">Valkrets:</span>
      {{ member?.valkrets }}
    </div>
    <div class="d-flex align-items-center px-4 py-2">
      <span class="font-weight-bold">Status:</span> {{ member?.status }}
    </div>
    <div class="d-flex align-items-center px-4 py-2">
      <span class="font-weight-bold">Född:</span> {{ member?.fodd_ar }}
    </div>
    <div class="d-flex align-items-center px-4 py-2">
      <span class="font-weight-bold">Profil:</span>
      <a [attr.href]="memberProfileUrl(member)" target="_blank">{{
        memberProfileUrl(member)
      }}</a>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary close-button"
    ngbAutofocus
    (click)="activeModal.close()"
  >
    Stäng
  </button>
</div>
