<div class="scroll-y">
  <mat-table [dataSource]="dataSource" [trackBy]="trackByMember" matSort>
    <ng-container cdkColumnDef="tilltalsnamn">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header
        >Förnamn</mat-header-cell
      >
      <mat-cell *cdkCellDef="let member">
        <div class="skeleton-line" *ngIf="!member"></div>
        {{ member?.tilltalsnamn }}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="efternamn">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header
        >Efternamn</mat-header-cell
      >
      <mat-cell *cdkCellDef="let member">
        <div class="skeleton-line" *ngIf="!member"></div>
        {{ member?.efternamn }}</mat-cell
      >
    </ng-container>

    <ng-container cdkColumnDef="parti">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Parti</mat-header-cell>
      <mat-cell *cdkCellDef="let member">
        <div class="skeleton-line" *ngIf="!member"></div>
        <img
          *ngIf="isPartyMember(member)"
          [attr.src]="member.parti | partyLogo"
          [attr.title]="member.parti | partyName"
          class="party-logo"
        />
        <fa-icon
          *ngIf="member && !isPartyMember(member)"
          [icon]="['fas', 'user-circle']"
          class="no-party-logo"
        ></fa-icon>
        <span class="party-name">{{ member?.parti | partyName }}</span>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="status">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header
        >Status</mat-header-cell
      >
      <mat-cell *cdkCellDef="let member">
        <div class="skeleton-line" *ngIf="!member"></div>
        {{ member?.status }}</mat-cell
      >
    </ng-container>

    <ng-container cdkColumnDef="valkrets">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header
        >Valkrets</mat-header-cell
      >
      <mat-cell *cdkCellDef="let member">
        <div class="skeleton-line" *ngIf="!member"></div>
        {{ member?.valkrets }}</mat-cell
      >
    </ng-container>

    <ng-container cdkColumnDef="fodd_ar">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Född</mat-header-cell>
      <mat-cell *cdkCellDef="let member">
        <div class="skeleton-line" *ngIf="!member"></div>
        {{ member?.fodd_ar }}</mat-cell
      >
    </ng-container>

    <mat-header-row
      class="border-bottom-0"
      *cdkHeaderRowDef="
        ['tilltalsnamn', 'efternamn', 'parti', 'status', 'valkrets', 'fodd_ar'];
        sticky: true
      "
    ></mat-header-row>

    <mat-row
      *cdkRowDef="
        let member;
        columns: [
          'tilltalsnamn',
          'efternamn',
          'parti',
          'status',
          'valkrets',
          'fodd_ar'
        ]
      "
      (click)="rowClick.emit(member)"
    ></mat-row>
  </mat-table>
</div>
