$FontPathOpenSans: '~open-sans-fonts/open-sans';

$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont,
  'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

$white: #fff !default;
$black: #000 !default;

$blue: #1d5170 !default;
$yellow: #dab822 !default;
$green: #99c24d !default;
$red: #f06543 !default;
$bright-yellow: #faff00 !default;
$cyan: #63d3c3 !default;

$primary: $blue !default;
$secondary: $yellow !default;
$success: $green !default;
$info: $cyan !default;
$warning: $bright-yellow !default;
$danger: $red !default;

$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 900px,
  lg: 1000px,
  xl: 1280px
);
